<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Password</title>
        <link rel="stylesheet" href="css/addpassword.css">
        <link rel="stylesheet" href="css/style_common.css">
        <script type="text/javascript" src="javascript/js_common.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
    
<body>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main" style="margin-left:300px;margin-top:43px;">
    <header class="container" style="padding-top:22px">
        <h3><b><i class="fa fa-file-text fa-fw"></i>Add New Password</b></h2>
      </header>
      <div class="container">
        <form id = 'addpasswordform' action = '/addpassword'>
            <input type="text" placeholder="Password Category" name = "password_category" required = true/>
            <input type="text" placeholder="Username" name = "username" required = true/>
            <input type="text" placeholder="Password Hint" name="password_hint" required = true/>
            <input type="password" placeholder="Password" name="password" required = true/>
            <button id="add-password" type="submit">Add Password</button>
        </form>
    </div>
    
  
</div>
</body>
<script type="text/javascript" src="javascript/addpassword.js"></script> 
</html>