<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="container" id="container">
	<div class="form-container forgot-container">
		<form id = "forgotpassword_form" name="fforms" action="/forgotpassword">
			<h1>Enter Your Registered Email ID</h1><br>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f" ><b>f</b></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"><b>G+</b></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"><b>in</b></i></a>
			</div>
			<input type="email" placeholder="useremail" name = "Email-ID" id ="email"/><br>
			<div id="email_clarify"></div><br>
			<button type="submit">Reset Password</button>
			<h4 id="msg" style="display:none; "> Email sent!!</h4> 
		</form>
	</div> 
</div>
<script type="text/javascript" src="javascript/forgotpassword.js"></script> 
</body>

</html>