<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Strength</title>
        <link rel="stylesheet" href="css/passwordstrength.css">
        <link rel="stylesheet" href="css/style_common.css">
        <script type="text/javascript" src="javascript/js_common.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
      <body>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main" style="margin-left:300px;margin-top:43px;">
    <header class="container" style="padding-top:1px">
        <h3><b><i class="fa fa-tripadvisor fa-fw"></i> Your Passwords Strength</b></h2>
      </header>

      <div class="cont">
        <% if (allpassword.length > 0) { %>
        <% allpassword.forEach(pass => { %>
         <div class="main" style="float: left; width: 50%; font-size: 20px; margin-left: 5px;"><%= pass.password_category %> </div>
          <div class ="sub" style="float: right; widows: 50%;">

        <meter  min="0" low="7" high="9" max="16" optimum="14" value=<%= pass.password_strength %>  style="width: 200px; height: 25px;"></meter>

      </div><br><br>
     

       <% }) %>
      <% } else { %>
        <p>There are no passwords to display...</p>
      <% } %>
      </div>



    </div>
  </body>
 
  </html>