<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Reset Password</title>
</head>
<body> 

    <div class="container" id="container">
        <div class="form-container forgot-container">
            <form id = "resetpassword_form" name="reforms" >
                <h1>Enter Your New Password</h1><br>
                <div id="password_error"></div>
                <input type="password" placeholder="Password" name="Pass" id="Pass" />
                <input type="password" placeholder="Repeat Password" name="Re_Pass" id="Re_Pass"/>
                <input id="relink" value = "<%=resetlink %>" style="display: none; "></h4>
                <button type="submit" >Reset Password</button>
            </form>
        </div> 
    </div>
    <script type="text/javascript" src="/javascript/resetpassword.js"></script>
    
</body>
</html>